@import "./assets/fonts/stylesheet.css";

body {
  margin: 0;
  font-family: "Maison Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
